<div class="text-center">
    <h2 class="text-success">Online Compiler Tool</h2>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="btn btn-outline-success" type="button" routerLink="/javacompiler">Java</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-success" type="button" routerLink="/pythoncompiler">Python</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-success" type="button" routerLink="/cppcompiler">Cpp</button>&nbsp;&nbsp;&nbsp;
</nav>




<!--
<div class="container-fluid p-3 my-3 border border-primary">    
    <button routerLink="/javacompiler" class="text-success">Java</button> &nbsp;&nbsp;&nbsp;
    <button routerLink="/pythoncompiler" class="text-success">Python</button> &nbsp;&nbsp;&nbsp;
    <button routerLink="/cppcompiler" class="text-success">CPP</button>    
</div>
-->
<router-outlet></router-outlet>