<div class="container-fluid p-3 my-3 border border-primary" style="height: 75px;">    
    <div class="btn-group mr-2" style="float:right;">
        <button type="button" (click)="clearIde()"class="btn btn-primary btn-lg">Clear</button>
    </div> 
    <div class="btn-group mr-2" style="float: right;" > 
        <button type="button" (click)="runProgram()" class="btn btn-primary btn-lg" >Run</button>
    </div>
    
</div>
<div class="border border-primary" #editor style="width:500px;height:400px;margin:8px;">
</div>
<div class="card col-md-6">
    <div class="card-body">
        <h2 class="card-title">Output:</h2>
         <div>{{responseData}}</div>
    </div>

</div>